*{
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 45rem;
    width: 115%;
    background-image: url(../img/a.jpg);
    background-size: cover;
    background-position: right;
}

.logo{
    color:blanchedalmond;
}